@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.set, .navbar, footer {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

/*Body*/
body {
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  font-weight: bolder;
  color: #dcdde1;
}

/*Header*/
header {
  padding-top: 30px;
  position: relative;
}

/*NavBar*/
.navbar.navbar-expand-lg.navbar-light.bg-propio {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: +2;
}

@media (max-width: 991px) {
  div#navbarScroll {
    padding-left: 70% !important;
    /*Se utilizó !important para poder pisar un valor !important por defecto del resposive del Bootstrap*/
  }
  div#navbarScroll ul li a {
    padding-left: 0 !important;
  }
  .set {
    display: none;
  }
  html {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}

@media (max-width: 450px) {
  div#navbarScroll {
    padding-left: 60% !important;
    /*Se utilizó !important para poder pisar un valor !important por defecto del resposive del Bootstrap*/
  }
  div#navbarScroll ul li a {
    padding-left: 0 !important;
  }
  .set {
    display: none;
  }
  html {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}

div#navbarScroll {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-left: 0%;
}

div#navbarScroll ul li a {
  color: white;
  text-decoration: none;
  padding-left: 5rem;
}

.nav-item :hover {
  opacity: 0.5;
}

a :hover {
  opacity: 0.5;
}

.logo {
  width: 30px;
  background-color: white;
  border-radius: 50px;
}

button.navbar-toggler {
  background-color: white;
}

.navbar-toggler {
  margin-left: 60%;
}

.navbar-nav-scroll {
  max-height: none;
  overflow-y: auto;
}

.bg-propio {
  background-image: url(../img/cardsBackground.jpg);
  width: 100%;
}

/*Footer*/
footer {
  text-align: center;
  padding-top: 1rem;
  position: relative;
}

footer .contacto {
  position: absolute;
  height: 4rem;
  width: 100%;
}

footer .contacto a {
  padding-left: 1rem;
}

footer .contacto a img {
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
}

footer .red--instagram {
  background-color: #ff5100;
}

footer .red--mail {
  background-color: #a91000;
}

footer .red--whatsapp {
  background-color: #04cc04;
}

/*Script Particles*/
html, body {
  width: 100%;
  height: 100%;
  background: black;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background: #000000;
  position: fixed;
  background-size: cover;
  background-image: url("");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*Fin de estilos generales*/
/*INDEX*/
/*Tablero*/
.set {
  padding-bottom: 20px;
  padding-top: 5px;
}

.set p {
  position: relative;
  float: left;
  width: 200px;
}

.set .tablero {
  border: solid 2px black;
  height: 600px;
  width: 600px;
  position: relative;
  margin-left: 20%;
}

.set .tablero .bl {
  background-color: #525252;
}

.set .tablero .ng {
  background-color: #141450;
}

.set .tablero tbody tr th {
  border: solid 2px white;
  width: 74.75px;
  height: 74.75px;
}

.set .tablero tbody tr th h6 {
  font-weight: bold;
}

.set .tablero tbody tr th .bishop {
  width: 15px;
  height: 30px;
}

.set .tablero tbody tr th .king {
  width: 20px;
  height: 40px;
}

.set .tablero tbody tr th .pawn {
  height: 30px;
  width: 20px;
}

.set .tablero tbody tr th img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

/*Cards*/
.gridCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 90%;
  padding-top: 2rem;
}

.gridCards .card {
  border: solid black;
  width: 80%;
  height: 95%;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: -webkit-center;
  background-image: url(../img/cardsBackground.jpg);
}

.gridCards .card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

/*Multimedia*/
.multimedia {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'video video tabla tabla';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.multimedia .video iframe {
  width: 100%;
  height: 300px;
}

.multimedia .tabla table {
  width: 100%;
  height: 300px;
}

/*Animación*/
.card {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*HISTORIA*/
#historia, #actualidad {
  border-bottom: solid darkgoldenrod;
}

.historia {
  padding-top: 30px;
  padding-left: 5%;
  width: 90%;
  text-align: justify;
  position: relative;
}

#titulo {
  -webkit-text-decoration: underline solid darkgoldenrod;
          text-decoration: underline solid darkgoldenrod;
  padding-top: 3rem;
}

/*EVENTOS*/
.torneos {
  text-align: center;
  width: 100%;
  background-image: url(../img/space.jpg);
}

.torneos tr {
  border: solid black;
}

.form {
  background-color: #1e1e1eab;
}

.headerEventos {
  position: relative;
}

.eventosGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'torneos torneos form form';
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
}

/*Responsive*/
@media (max-width: 800px) {
  .eventosGrid {
    display: block;
  }
  .eventosGrid .form {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/*NOTICIAS*/
.destacado {
  padding-top: 40px;
  padding-bottom: 10px;
  -webkit-text-decoration: underline solid darkgoldenrod;
          text-decoration: underline solid darkgoldenrod;
  position: relative;
}

.carousel-caption {
  background-image: url(../img/space.jpg);
  color: white;
  border: solid black;
  border-radius: 3px;
}

.carousel-item {
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: none;
          transform: none;
}

.formulario {
  background-color: #1e1e1eab;
}

.noticiasGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'carousel slide carousel slide formulario formulario';
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footerNoticias {
  padding-top: 20rem;
  position: relative;
}

/*Responsive*/
@media (max-width: 799px) {
  .noticiasGrid {
    grid: none;
  }
  .carousel-caption {
    display: contents;
  }
  .carousel-indicators {
    display: none;
  }
}

/*TOP PLAYERS*/
#topPlayers {
  -webkit-text-decoration: underline solid 3px darkgoldenrod;
          text-decoration: underline solid 3px darkgoldenrod;
  padding-top: 3rem;
  position: relative;
}

.players {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
  -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr;
      grid-template-rows: 3fr 3fr 3fr 3fr 3fr;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
}

.players .player {
  padding-top: 3rem;
}

.players .player p {
  -webkit-text-decoration: underline solid 3px darkgoldenrod;
          text-decoration: underline solid 3px darkgoldenrod;
}

/*Animación*/
.player {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.player:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*ESTILOS MOBILE*/
/*Smartphones*/
@media (max-width: 320px) {
  .gridCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 90%;
  }
  .footerNoticias {
    display: none;
  }
  .multimedia {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        grid-template-areas: 'video'
 'tabla';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .video iframe {
    width: 300px;
    height: 150px;
  }
  .tabla table {
    width: 300px;
    height: 150px;
  }
  .card:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Top Players*/
  .players {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
  }
  .player:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Noticias*/
  .videoNoticias {
    width: 300px;
    height: 180px;
  }
}

/*Tablets*/
@media screen and (min-width: 321px) and (max-width: 580px) {
  .bg-propio {
    width: 100%;
  }
  .gridCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
  }
  .footerNoticias {
    display: none;
  }
  .multimedia {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        grid-template-areas: 'video'
 'tabla';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .video iframe {
    width: 300px;
    height: 150px;
    padding-left: 100px;
  }
  .tabla table {
    width: 300px;
    height: 150px;
  }
  .card:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Top Players*/
  .players {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
  }
  .player:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Noticias*/
  .videoNoticias {
    width: 320px;
    height: 200px;
  }
}

/*TABLETS*/
@media screen and (min-width: 581px) and (max-width: 850px) {
  .bg-propio {
    width: 100%;
  }
  .gridCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
  }
  .footerNoticias {
    display: none;
  }
  .multimedia {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        grid-template-areas: 'video'
 'tabla';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .video iframe {
    width: 300px;
    height: 150px;
    padding-left: 100px;
  }
  .tabla table {
    width: 300px;
    height: 150px;
  }
  .card:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Top Players*/
  .players {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
  }
  .player:hover {
    -webkit-transform: none;
    transform: none;
  }
  /*Noticias*/
  .videoNoticias {
    width: 450px;
    height: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */