*{
    margin: 0;
    padding: 0;
}

/*Body*/
body {
    background-image: url(../img/pattern.png);
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #dcdde1;
}

/*Header*/
header {
    padding-top: 30px;
}

/*NavBar*/
.logo {
    width: 30px;
    background-color: white;    
}

div#navbarScroll {
    flex: none;
    ul li a {
        color: white;
        text-decoration: none;}
}

li.nav-item {
    padding-right: 9rem;
    a {
        color: white;
        padding-left: 13rem;
    }
}

button.navbar-toggler {
    background-color: white;
}

.bg-propio {
    background-image: url(../img/cardsBackground.jpg);
    width: 100%;
}

/*Footer*/
footer {
    text-align: center;
    .redes {
        display: inline-flex;
    }
    /*Mapas*/
    $redes: (
            twitter: #55acee,
            facebook: #3a5795,
            instagram: #f34500,
    );
    @each $redsocial, $color in $redes {
        .btn--#{$redsocial}{
            background-color: $color;
        }
    }
    /*Extend*/
    .redSocial {
        border: 2px solid gold;
        color: black;
        background-color: darkgreen;
    }
    .redSocial--email {
        @extend .redSocial;
        border-radius: 3px;
        font-weight: bolder;
        background-color: orangered
    }
    .redSocial--wp{
        @extend .redSocial;
        font-weight: lighter;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .contacto {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /*mixin*/
    @mixin sizes ($width, $height){
        height: $height;
        width: $width;
    }
    .mixin {
        @include sizes (200px, 50px);
        background-color: darkred;
        display: inline-block;
    }
}
/*Fin de estilos generales*/

