*{
    margin: 0;
    padding: 0;
}

html{
    scroll-snap-type: y proximity;
}
.set, .navbar, footer{
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

/*Body*/
body {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #dcdde1;
}

/*Header*/
header {
    padding-top: 30px;
    position: relative;
}

/*NavBar*/
.navbar.navbar-expand-lg.navbar-light.bg-propio {
    position: sticky;
    top: 0px;
    z-index: +2;
}
@media (max-width: 991px){
    div#navbarScroll{
        padding-left: 70%!important;
        ul li a {
            padding-left: 0!important;
        }
        /*Se utilizó !important para poder pisar un valor !important por defecto del resposive del Bootstrap*/
    }
    .set{
        display: none;
    }
    html{
        scroll-snap-type: none;
    }
}
@media (max-width: 450px){
    div#navbarScroll{
        padding-left: 60%!important;
        ul li a {
            padding-left: 0!important;
        }
        /*Se utilizó !important para poder pisar un valor !important por defecto del resposive del Bootstrap*/
    }
    .set{
        display: none;
    }
    html{
        scroll-snap-type: none;
    }
}

div#navbarScroll {
    flex: none;
    padding-left: 0%;
    ul li a {
        color: white;
        text-decoration: none;
        padding-left: 5rem;
    }
}

.nav-item :hover{
        opacity: 0.5;
}

a :hover{
    opacity: 0.5;
}

.logo {
    width: 30px;
    background-color: white;
    border-radius: 50px;
}

button.navbar-toggler {
    background-color: white;
}

.navbar-toggler {
    margin-left: 60%
}
.navbar-nav-scroll{
     max-height: none;
    overflow-y: auto;
}

.bg-propio {
    background-image: url(../img/cardsBackground.jpg);
    width: 100%;
}

/*Footer*/
footer {
    text-align: center;
    padding-top: 1rem;
    position: relative;
    .contacto{
        position: absolute;
        height: 4rem;
        width: 100%;
        a {
            padding-left: 1rem;
            img{
                width: 3rem;
                height: 3rem;
                border-radius: 20px;
            }
        }
    }
    $redes:(
        instagram:#ff5100,
        mail:#a91000,
        whatsapp:#04cc04
    );
    @each $red, $color in $redes{
        .red--#{$red}{
            background-color: $color;
        }

    }
}


  /*Script Particles*/
html,body{ 
	width:100%;
	height:100%;
	background:rgb(0, 0, 0);
}

  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: 100%;     
    background: #000000; 
    position: fixed;
    background-size: cover;
    background-image: url('');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

/*Fin de estilos generales*/

