/* GRID
.navbar { grid-area: nav; }
.header {grid-area: header;}
.gridCards { grid-area: noticias; }
.multimedia { grid-area: multimedia; }
.footer { grid-area: footer; }

.webGrid {
    display: grid;
  grid-template-areas:
  'nav nav'
  'header header '
  'noticias noticias'
  'multimedia'
  'footer footer';
  grid-template-rows: auto 2fr 4fr 4fr 1fr;
  grid-template-columns: auto;
}

.video { grid-area: video;}
.tabla { grid-area: tabla;}

.multimedia {
    display: grid;
    grid-template-areas: 
    'video video tabla tabla';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.grid-container > div {
  text-align: center;
} */
*{
    margin: 0;
    padding: 0;
}
/*Header*/
header {
    padding-top: 30px;
}

/*NavBar*/
.logo {
    width: 30px;
}

div#navbarScroll {
    flex: none;
}

li.nav-item {
    padding-right: 9rem;
}

#navbarScroll ul li a {
    color: white;
    text-decoration: none;
}

.bg-propio {
    background-image: url(../img/cardsBackground.jpg);
    width: 100%;
}

.nav-item a {
    color: white;
    padding-left: 13rem;
}

/*Body*/
body {
    background-image: url(../img/pattern.png);
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #dcdde1;
}

/*Cards*/
.gridCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 90%;
}

.card {
    border: solid black;
    width: 80%;
    height: 95%;
    justify-self: center;
    text-align: -webkit-center;
    background-image: url(../img/cardsBackground.jpg);
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/*Multimedia*/
.multimedia {
display: grid;
justify-content: space-evenly;
justify-items: center;
align-items: center;
grid-template-areas: 'video video tabla tabla';
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}

.video iframe {
    width: 100%;
    height: 300px;
}

.tabla table {
    width: 120%;
    height: 300px;
}

/*ANIMACIÓN*/
.card:hover{
    transform: scale(1.1);
} 

.card {
    transition-property: all;
    transition-duration: 2s;
}

/*Footer*/
footer {
    text-align: center;
}

/*Historia*/
#historia, #actualidad {
    border-bottom: solid rgb(184,134,11);
}
.historia {
    padding-top: 30px;
    padding-left: 5%;
    width: 90%;
    text-align: justify;
}
#titulo {
    text-decoration: underline solid  rgb(184,134,11);
    padding-top: 3rem;
}

/*Eventos*/
.torneos {
    background-color: rgb(139,0,0,0.4);
    text-align: center;
}

/*Noticias*/
.destacado {
    padding-top: 40px;
    padding-bottom: 10px;
    text-decoration: underline solid rgb(184,134,11);
}

/*Top Players*/
#topPlayers {
    text-decoration: underline solid rgb(184,134,11);
    padding-top: 40px;
}

.players {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
}

.player {
    padding-top: 5rem;
}

.player p {
    text-decoration: underline solid rgb(184,134,11);
}

/*ANIMACIÓN*/
.player:hover{
    transform: scale(1.5);
} 

.player {
    transition-property: all;
    transition-duration: 2s;
}

/*Estilos Mobile*/
/*Smartphones*/
@media (max-width: 320px) {
    .bg-propio {
        background-color: darkred;
        width: 100%;
    }
    .gridCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 320px;
        height: 90%;
    }
    .multimedia {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        'video'
        'tabla';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        }
        
        .video iframe {
            width: 300px;
            height: 150px;
        }
        
        .tabla table {
            width: 300px;
            height: 150px;
        }
        .card:hover
        { transform: none;}
    /*Top Players*/
.players {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
}
.player:hover{
    transform: none;
}

/*Noticias*/
.videoNoticias{
    width: 300px;
    height: 180px;
}
}

/*Tablets*/
@media screen and (min-width: 321px) and (max-width:580px) {
    .bg-propio {
        width: 100%;
    }
    
    .gridCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 100%;
    }
    
    .multimedia {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        'video'
        'tabla';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        }
        
        .video iframe {
            width: 300px;
            height: 150px;
            padding-left: 100px;
        }
        
        .tabla table {
            width: 300px;
            height: 150px;
        }
        .card:hover
        { transform: none;}

    /*Top Players*/
.players {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
}
.player:hover{
    transform: none;
} 
/*Noticias*/
.videoNoticias{
    width: 320px;
    height: 200px;
}
}

/*TABLETS*/
@media screen and (min-width: 581px) and (max-width:850px) {
    .bg-propio {
        width: 100%;
    }
    
    .gridCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 100%;
    }
    
    .multimedia {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        'video'
        'tabla';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        }
        
        .video iframe {
            width: 300px;
            height: 150px;
            padding-left: 100px;
        }
        
        .tabla table {
            width: 300px;
            height: 150px;
        }
        .card:hover
        { transform: none;}
    /*Top Players*/
.players {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
}
.player:hover{
    transform: none;
} 
/*Noticias*/
.videoNoticias{
    width: 450px;
    height: 300px;
}
}
