@import "generales";

$color: rgb(184,134,11);
/*INDEX*/
/*Tablero*/
.set{
  padding-bottom: 20px;
  padding-top: 5px;
  p{
    position: relative;
    float: left;
    width: 200px;
  }
.tablero  {
  border: solid 2px black; 
  height: 600px;
  width: 600px;
  position: relative;
  margin-left: 20%;
  .bl {
    background-color: #525252;
  }
  .ng {
    background-color: #141450;
  }
  tbody tr th {
    border: solid 2px white;
    width: 74.75px;
    height: 74.75px;
    h6{
      font-weight: bold;
    }
    .bishop{
      width: 15px;
      height: 30px;
    }
    .king{
      width: 20px;
      height: 40px;
    }
    .pawn{
      height: 30px;
      width: 20px;
    }
    img {
      width: 30px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
}

/*Cards*/
.gridCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    .card {
        border: solid black;
        width: 80%;
        height: 95%;
        justify-self: center;
        text-align: -webkit-center;
        background-image: url(../img/cardsBackground.jpg);
        .card-img-top {
          object-fit: cover;
          height: 250px;
        }
    }
}
/*Multimedia*/
.multimedia {
display: grid;
justify-content: space-evenly;
justify-items: center;
align-items: center;
grid-template-areas: 'video video tabla tabla';
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
.video iframe {
    width: 100%;
    height: 300px;
}
.tabla table {
    width: 100%;
    height: 300px;
}
}
/*Animación*/
.card {
    transition-property: all;
    transition-duration: 2s;
    &:hover{
        transform: scale(1.1);
    } 
}

/*HISTORIA*/
#historia, #actualidad {
    border-bottom: solid $color;
}
.historia {
    padding-top: 30px;
    padding-left: 5%;
    width: 90%;
    text-align: justify;
    position: relative;
}

#titulo {
    text-decoration: underline solid $color;
    padding-top: 3rem;
}

/*EVENTOS*/
.torneos {
    text-align: center;
    width: 100%;
    background-image: url(../img/space.jpg);
    tr {
      border: solid black;
    }
}
.form{
  background-color: #1e1e1eab;
}

.headerEventos {
  position: relative;
}
.eventosGrid {
  display: grid;
  grid-template-areas: 'torneos torneos form form';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
}

/*Responsive*/
@media (max-width:800px){
  .eventosGrid {
    display: block;
    .form {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

/*NOTICIAS*/
.destacado {
    padding-top: 40px;
    padding-bottom: 10px;
    text-decoration: underline solid $color;
    position: relative;
}
.carousel-caption {
    background-image: url(../img/space.jpg);
    color: white;
    border: solid black;
    border-radius: 3px;
}
.carousel-item {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transform: none;
}

.formulario{
  background-color: #1e1e1eab;
}

.noticiasGrid {
  display: grid;
  grid-template-areas: 'carousel slide carousel slide formulario formulario';
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
}
 .footerNoticias {
   padding-top: 20rem;
   position: relative;
}
/*Responsive*/
@media (max-width: 799px) {
  .noticiasGrid {
    grid: none;
  }
  .carousel-caption{
    display: contents;
  }
  .carousel-indicators{
    display: none;
  }
}

/*TOP PLAYERS*/
#topPlayers {
  text-decoration: underline solid 3px $color;
  padding-top: 3rem;
  position: relative;
}
.players {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    .player {
        padding-top: 3rem;
          p {
            text-decoration: underline solid 3px $color;
        }
    }
}

/*Animación*/
.player {
    transition-property: all;
    transition-duration: 2s;
    &:hover{
        transform: scale(1.5);
    } 
}

/*ESTILOS MOBILE*/
/*Smartphones*/
@media (max-width: 320px) {
    .gridCards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      width: 100%;
      height: 90%;
    }
    .footerNoticias{
      display: none;
    }
    .multimedia {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
          grid-template-areas: 'video'
   'tabla';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: 1fr;
          grid-template-rows: 1fr;
    }
    .video iframe {
        width: 300px;
        height: 150px;
    }
    .video.aos-init.aos-animate, .tabla.aos-init{
      transform: translateY(0px);
      transition-duration: 0s;
      transition-property: none;}
    .tabla table {
      width: 300px;
      height: 150px;
    }
    .card:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Top Players*/
    .players {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
          grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
      justify-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 40px;
      text-align: center;
    }
    .player:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Noticias*/
    .videoNoticias {
      width: 300px;
      height: 180px;
    }
  }
  
  /*Tablets*/
  @media screen and (min-width: 321px) and (max-width: 580px) {
    .bg-propio {
      width: 100%;
    }
    .gridCards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      width: 100%;
      height: 100%;
    }
    .footerNoticias{
      display: none;
    }
    .multimedia {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
          grid-template-areas: 'video'
   'tabla';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: 1fr;
          grid-template-rows: 1fr;
    }
    .video.aos-init.aos-animate, .tabla.aos-init{
      transform: translateY(0px);
      transition-duration: 0s;
      transition-property: none;}
    .video iframe {
      width: 300px;
      height: 150px;
    }
    .tabla table {
      width: 300px;
      height: 150px;
    }
    .card:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Top Players*/
    .players {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 2fr 2fr;
          grid-template-columns: 2fr 2fr;
      -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
          grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
      justify-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 40px;
      text-align: center;
    }
    .player:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Noticias*/
    .videoNoticias {
      width: 320px;
      height: 200px;
    }
  }
  
  /*TABLETS*/
  @media screen and (min-width: 581px) and (max-width: 850px) {
    .bg-propio {
      width: 100%;
    }
    .gridCards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      width: 100%;
      height: 100%;
    }
    .footerNoticias {
      display: none;
    }
    .multimedia {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      justify-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
          grid-template-areas: 'video'
   'tabla';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      -ms-grid-rows: 1fr;
          grid-template-rows: 1fr;
    }
    .video iframe {
      width: 300px;
      height: 150px;
    }
    .tabla table {
      width: 300px;
      height: 150px;
    }
    .card:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Top Players*/
    .players {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 2fr 2fr 2fr;
          grid-template-columns: 2fr 2fr 2fr;
      -ms-grid-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
          grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
      justify-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 40px;
      text-align: center;
    }
    .player:hover {
      -webkit-transform: none;
              transform: none;
    }
    /*Noticias*/
    .videoNoticias {
      width: 450px;
      height: 300px;
    }
  }